
<div class="centered-content"ng-controller="ListController">
  <div class=" centered-content task-manager-container">
      <div class="modal-box">
          <h1 class="title">
              Digite a sua senha Master
          </h1>
          <form name="form" ng-submit="handleUpdateStatus()" novalidate >
              <input class="input has-background-light is-medium" type="password" name="password" ng-model="password"
                  placeholder="Digit sua senha" required>
              <br><br>
              <div class="buttons is-right">
                  <a href="volta"> <button class="button is-medium" routerLink="/">Cancelar</button></a>
                  <button class="button is-primary has-text-white is-medium" ng-disabled="form.$invalid">Alterar</button>
              </div>
          </form>
      </div>
  </div>

</div>