<div ng-controller="TaskController">
  <div class=" centered-content task-manager-container" ng-init="loadInit()">
      <div class="modal-box">
          <h1 class="title">
              Edita Tarefa
          </h1>
          <br>
          <form name="form" ng-submit="handleEdit()" novalidate >

            <div class="field">
              <input class="input has-background-light   is-medium" 
                type="text" 
                name="name" 
                ng-model="model.name"
                placeholder="Nome do Responsavel" 
                required 
              />
            </div>

              <div class="field">
                <input class="input has-background-light   is-medium" 
                  type="text" 
                  name="describe" 
                  ng-model="model.describe"
                  placeholder="Descrição" 
                  required 
                />
              </div>

              <div class="field">
                <input class="input has-background-light   is-medium" 
                  type="text" 
                  name="email" 
                  ng-model="model.email"
                  placeholder="E-mail" 
                  required 
                />
                <p ng-if="model.email_invalid" style="color: red;">* Você quis dizer: {{model.email_invalid}}</p>
              </div>

              <br>

              <div class="buttons is-right">
                  <a href="volta"> <button class="button is-medium" routerLink="/">Cancelar</button></a>
                  <button class="button is-primary has-text-white is-medium" ng-disabled="form.$invalid">Editar</button>
              </div>
          </form>
      </div>
  </div>

</div>